<%= form_with(url: notes_searches_path, local: true, method: :get, class: "form-inline") do |form| %>
  <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "form-control form-control-sm ml-3 w-75 mx-auto" %>
  <%= form.submit "検索", class: "btn btn-outline-dark my-2 my-sm-0 " %>
<% end %>
<%# <nav class="navbar navbar-light bg-light">
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="text" placeholder="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav> %>
<% @notes.each do |note| %>
   <%= render partial: "note", locals: { note: note } %>
<% end %>

<%= paginate(@notes) %>


