<div class=contents>
新規投稿
</div>

<%= form_with model: @note, class: :form, local: true do |form| %>
  <%= form.text_field :title, placeholder: :タイトル, class: :form__title %>
  <%= form.text_area :content, placeholder: :ブログ本文, class: :"form-control", rows: "50" %>
  <%= form.collection_check_boxes :tag_ids, Tag.all, :id, :name %>
  <%= form.submit '投稿する', class: :form__btn %>
<% end %>

<%= form_with(model: @tag, local: true) do |form| %>
  <%= form.text_area :name, placeholder: "tag", rows: "1" %>
  <%= form.submit "SEND" %>
<% end %>

