<div class="postTitle">
  <%= @note.title %>
</div>
<div class="postDate">
  <%= @note.created_at %>
</div>
<div class="postAuthor">
</div>
<% if user_signed_in? && current_user.id == @note.user_id %>
<div class="postManage">
  <%= link_to "編集", edit_note_path(@note.id), class: "postManage__edit" %>
  <%= link_to "削除", note_path(@note.id), method: :delete, class: "postManage__delete" %>
</div>
<% end %>

<div class="postText">
  <%= simple_format @note.content %>
</div>