<div class="postTitle">
  <%= @note.title %>
</div>
<div class="postDate">
  <%= @note.created_at %>
</div>
<div class="postAuthor">
</div>
<% if user_signed_in? && current_user.id == @note.user_id %>
<div class="postManage">
  <%= link_to "編集", edit_note_path(@note.id), class: "postManage__edit" %>
  <%= link_to "削除", note_path(@note.id), method: :delete, class: "postManage__delete" %>
</div>
<% end %>

<div class="postText">
  <%= simple_format @note.content %>
</div>

<div class="container">
    <% if current_user %>
      <%= form_with(model: [@note, @comment], local: true) do |form| %>
        <%= form.text_area :content, placeholder: "コメントする", rows: "2" %>
        <%= form.submit "SEND" %>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
</div>
 <div class="form-group">
      <h4>コメント一覧</h4>
      <% if @comments %>
        <% @comments.each do |comment| %>
          <p>
            <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
            <%= comment.content %>
          </p>
        <% end %>
      <% end %>
  </div>
 >


  