<!DOCTYPE html>
<html>
  <head>
    <title>NewNote</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="header">
    <div class="menu">
      <% if user_signed_in? %>
        <%= link_to current_user.nickname, root_path, method: :get, class: "menu__name" %>
        <div class="menu__icon">
          <div class="menu__icon--cog">
            <%= link_to new_note_path, method: :get do %>
              <i class="fas fa-comment"></i>
            <% end %>
          </div>
          <div class="menu__icon--plus">
            <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fas fa-door-open"></i>
            <% end %>
          </div>
        </div>
      <% else %>
        <%= link_to "ゲスト", root_path, method: :get, class: "menu__name" %>
         <div class="menu__icon">
          <div class="menu__icon--cog">
            <%= link_to new_user_session_path do %>
              <i class="fas fa-plus"></i>
            <% end %>
          </div>
          <div class="menu__icon--plus">
            <%= link_to new_user_registration_path do %>
              <i class="fas fa-door-closed"></i>
            <% end %>
          </div>
        </div>
      <% end %>
      <%= link_to tags_path do %>
        <i class="fas fa-door-closed"></i>
      <% end %>
    </div>
      <%= form_with(url: notes_searches_path, local: true, method: :get, class: "form-inline") do |form| %>
        <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "form-control form-control-sm ml-3 w-75 mx-auto " %>
        <%= form.submit "検索", class: "btn btn-outline-dark my-2 my-sm-0 " %>
      <% end %>
  </div>
  

  <div class="left-content">
 
  </div>

  <div class="right-bar">
  </div>

  <div class="right-content">
    <div class="posts">
    <%= yield %>
  </div>
    </div>
  </body>
</html>
